<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eqdd.common">

    <application>


        <activity android:name=".router.SchameFilterActivity">
            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="eqdd.com"
                    android:scheme="app" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eqdd.com"
                    android:scheme="http" />
                <data
                    android:host="eqdd.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>