<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gamerole.zutan">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".ZuTanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:icon, android:theme,android:label"
        android:theme="@style/common_BaseTheme">
        <!--<meta-data-->
            <!--android:name="Gang-AppKey"-->
            <!--android:value="Cc14pVb4pfDC3+ruDEbiog==" />-->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <activity android:name=".ui.GuideActivity" android:theme="@style/common_AppTheme_Yellow">

        </activity>
        <activity android:name=".ui.LoginActivity" android:theme="@style/common_AppTheme_Yellow">

        </activity>
        <activity android:name=".ui.ScanFingerActivity" android:theme="@style/common_AppTheme_Yellow">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.RegisterActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.StructureListActivity" android:theme="@style/common_AppTheme_Yellow" />
        <activity android:name=".ui.AddRelativeActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.TestActivity" android:theme="@style/common_AppTheme_Yellow">

        </activity>
        <activity android:name=".ui.ShowMapActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.MainActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.UserCardActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.home.AddFriendActivity" android:theme="@style/common_AppTheme_Yellow" />
        <activity android:name=".ui.home.FriendListActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.home.FriendInfoActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.home.TransitionTestActivity" android:theme="@style/common_AppTheme_Yellow">

        </activity>
        <activity android:name=".ui.home.ZuUserListActivity" android:theme="@style/common_AppTheme_Yellow">

        </activity>
        <activity android:name=".ui.home.UserInfoActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.home.CreateZuActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.home.ZuGuideActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.home.ApplyListActivity" android:theme="@style/common_AppTheme_Yellow"/>
        <activity android:name=".ui.home.ZuInfoActivity" android:theme="@style/common_AppTheme_Yellow_TRANS"/>
        <activity android:name=".ui.SplashActivity" android:theme="@style/common_AppTheme_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.ZuListActivity" />
        <!--<activity android:name=".ScanFingerActivity" />-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="26918ca145759f6881797c317365adaa" />
        <service android:name="com.amap.api.location.APSService" />
        <service android:name="com.eqdd.library.service.LocationService" />
    </application>
</manifest>