<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gamerole.zutan">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".ZuTanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/common_AppTheme_Yellow"
        tools:replace="android:label">
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <activity android:name=".ui.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity">

        </activity>
        <activity android:name=".ui.ScanFingerActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.StructureListActivity" />
        <activity android:name=".ui.AddRelativeActivity" />
        <activity android:name=".ui.TestActivity">

        </activity>
        <activity android:name=".ui.ShowMapActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.AddSimpleRelativeActivity" />
        <activity android:name=".ui.home.AddFriendActivity" />
        <activity android:name=".ui.home.FriendListActivity" />
        <activity android:name=".ui.home.FriendInfoActivity" />
        <activity android:name=".ui.home.TransitionTestActivity" >

        </activity>
        <activity android:name=".ui.home.HomeListActivity" >

        </activity>
        <activity android:name=".ui.home.UserInfoActivity" />
        <activity android:name=".ui.home.CreateZuActivity" />
        <activity android:name=".ui.home.ZuGuideActivity" />
        <activity android:name=".ui.home.ApplyListActivity" />
        <!--<activity android:name=".ScanFingerActivity" />-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="26918ca145759f6881797c317365adaa" />
        <service android:name="com.amap.api.location.APSService" />
    </application>
</manifest>